<div
    class="footer-container w-full mx-auto px-4 sm:px-6 md:px-10 lg:px-20 text-gray-400 text-sm flex flex-col items-center text-center space-y-6 md:flex-row md:justify-between md:items-start md:text-left md:space-y-0">
    <!-- Copyright Section -->
    <div class="copyright-section w-full md:w-auto">
        &copy; <span id="current-year"></span> <a target="_blank" href="https://github.com/luskas8"
            class="underline text-danger hover:text-white">luskas8</a>. All rights reserved.
    </div>
    <!-- Terms Section -->
    <div class="terms-section w-full md:w-auto">
        <!-- Suggestions forms -->
        <a href="https://forms.gle/DtyvXuBuamTJCJVy6" target="_blank" rel="noopener noreferrer"
            class="hover:underline text-danger" data-i18n="suggestions">Suggestions</a>
    </div>
    <!-- Connect With Me Section -->
    <div class="connect-section w-full md:w-auto">
        <a href="./" target="_self" rel="noopener noreferrer" class="text-danger hover:underline"
            data-i18n="home">Home</a>
        <span class="text-secondary">|</span>
        <a href="./about.html" target="_self" rel="noopener noreferrer" class="text-danger hover:underline"
            data-i18n="about">About</a>
        <span class="text-secondary">|</span>
        <a href="https://www.termsfeed.com/live/24ac6d20-e628-4d19-9d38-f424618a894a" target="_blank" rel="noopener noreferrer"
            class="text-danger hover:underline" data-i18n="privacyPolicy">Privacy
            Policy</a>
        <span class="text-secondary">|</span>
        <a href="./contact.html" class="text-danger hover:underline" data-i18n="contact">Contact</a>
    </div>
</div>