<div id="info-container" class="flex items-center space-x-4 ml-8">
    <div class="text-secondary-800" id="info-icon-container">
        <!-- add info icon -->
        <svg class="w-6 h-6 text-white hover:cursor-pointer" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" />
        </svg>
    </div>

</div>
<a href="/" aria-label="Infinity Love - Back to Home">
    <img src="./public/favicon.png" alt="Infinity Love Logo" class="mx-auto max-w-36">
</a>
<div class="justify-end flex items-center space-x-4 mr-4">
    <select
        class="border border-gray-300 rounded-md shadow-sm hover:cursor-pointer focus-within:outline-none focus-within:ring-primary focus-within:border-primary"
        id="language-selector">
        <option class="text-secondary-800" value="en">English</option>
        <option class="text-secondary-800" value="pt">Português</option>
    </select>
</div>