<div id="welcome-modal"
    class="fixed top-0 left-0 w-full h-full bg-primary bg-opacity-75 backdrop-blur-sm flex justify-center items-center hidden">
    <section id="welcome-section" class="bg-white rounded-lg shadow-md p-6 max-w-2xl mx-auto">
        <h1 class="text-xl font-semibold text-secondary-800 mb-4" data-i18n="welcomeTitle">Welcome to <span
                class="text-danger">Infinity
                Love</span></h1>
        <p class="text-secondary-600 text-justify" data-i18n="welcomeDescription1">
            This is a website to count the days you and your loved one have been together. It helps you
            celebrate your relationship milestones and cherish the moments you've shared. Whether it's been
            a few days, months, or years, Infinity Love is here to help you keep track of your journey
            together.
        </p>
        <p class="text-secondary-600 text-justify mt-2" data-i18n="welcomeDescription2">
            Infinity Love is more than just a date counter. It's a celebration of your unique love story.
            With its beautiful design and user-friendly interface, you can easily track and share your
            relationship milestones with your partner.
        </p>
        <div class="separator flex items-center my-4">
            <div class="flex-grow border-t border-gray-300"></div>
            <svg class="mx-2 max-w-6 text-danger" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path
                    d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3c3.08 0 5.5 2.42 5.5 5.5 0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
            </svg>
            <div class="flex-grow border-t border-gray-300"></div>
        </div>
        <div class="get-started-container text-center">
            <button id="close-modal-button"
                class="mx-auto mt-4 bg-primary hover:bg-danger text-white font-bold py-2 px-6 rounded"
                data-i18n="getStarted">
                Close
            </button>
        </div>
    </section>
</div>